* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("Images/map.png");
  background-size: cover;
  background-position: center;
  opacity: 0.18;
  z-index: -1;
}

.header {
  background-color: #A33B26; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px; 
  width: 100%;

  gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #800000;
}

.logo img {
  height: 40px;
}

.center-box {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1; 
  justify-content: center; 
  margin: 0;
}

.categories {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}

.categories select {
  padding: 6px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.center-box input {
  flex: 1;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.icons {
  display: flex;
  gap: 18px;
  color: #fff;
  font-size: 18px;
}

.icons i {
  cursor: pointer;
}

@media (max-width: 768px) {
  .center-box {
    flex-wrap: wrap;
  }

  .center-box input {
    width: 100%;
  }
}
